@import url('https://fonts.googleapis.com/css2?family=Festive&display=swap');

body {
	background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fmedia1.giphy.com%2Fmedia%2F6zTaXrUs1rmCY%2F200.gif%3Fcid%3D790b7611drwa1lwjrvjsjz04c2n1nflbwho77mommurx58a6%26rid%3D200.gif&f=1&nofb=1');
	background-size: cover;
	background-repeat: no-repeat;
}

body {
	text-align: center;
}

.profilePic {
	background-image: url("./profile-pic.jpg");
	background-size: 110%;
	background-position: center center;
	background-color: black;
	border-radius: 100%;
	margin: 0 auto;
	margin-top: 200px;
	width: 200px;
	height: 200px;
	overflow: hidden;
	box-shadow: 0 0 5px 5px #2e2e2e;
}

h1 {
	font-family: Festive;
	font-size: 150px;
	color: white;
	margin: 0;
	text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
}
